
/*
fonty:

font-family: 'Open Sans', sans-serif;
*/

body{
    background-color: #e6e6e6;
    margin:0;
}


nav{
    height: 40px;
    padding:10px;
    text-align: center;
    /*  dodaj jako tło ciemny kolor z opacity*/
}
.navAndImg{
    background-image: url("/krzych/img/5.jpg");
    background-size: cover;
    max-height: 80%;
    height: auto;
}
.welcome{
    height: auto;
   

}
.welcome h4{
    margin-top:40px;
    margin-bottom:50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #e0e6e2;
   
}
.welcome p{
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    color:#ffb60d;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
   
}

.welcome button{
    display: block;
    position: relative;
    left:50%;
    margin-top:50px;
    margin-bottom:50px;

    
    transform: translate(-50%);
}
.content{
    background-color: #ffb60d;
    
}
.content p[title="title"]{
    font-size: 20px;
}
.text-about p{
    font-size:15px;
}

}
.ikony{
    padding:15px;
}
.ikona{
    width: 100px; /*     ZASTOSUJ ZŁOTY PODZIAŁ*/
    height: 100px;
    background-color: lightyellow;
    display:inline-block;
    margin: 5px;

}