/*
fonty:

font-family: 'Open Sans', sans-serif;
font-family: 'Staatliches', cursive;


*/
body
{
    background-color:#282528;
    margin: 0;
    color:white;
}
.image img
{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%);

}
nav
{
    position: sticky !important;
    top:0;
    background-color: #ba292e;
    z-index: 2;
    
}
#about
{
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid white;
    background-color: #944e1c;
    font-size:2.5vh ;
    padding:15px;
}
.navbar a
{
    text-decoration: none;
    color: #cccccc;
    font-size: 24px;
}
.projekty{
    border:1px solid #282528;
    background-color: #332c33;
}
.projekty img
{
    height: auto;
    width: 100%;
    padding:10px;
}
.ph1
{
    transition: 0.3s ease-in-out;
    
}

.ph2
{
    transition: 0.3s ease-in-out;
}
.ph3
{
    transition: 0.3s ease-in-out;
}
.ph4
{
    transition: 0.3s ease-in-out;
}
.ph5
{
    transition: 0.3s ease-in-out;
}
.ph6
{
    transition: 0.3s ease-in-out;
}

.ph1:hover
{
opacity: 70%;
transform: scale(0.9) rotate(-1deg);

}
.ph2:hover
{
    opacity: 70%;
    transform: scale(0.9) rotate(-1deg);
}
.ph3:hover
{
    opacity: 70%;
    transform: scale(0.9) rotate(-1deg);
}
.ph4:hover
{
    opacity: 70%;
    transform: scale(0.9) rotate(-1deg);
}
.ph5:hover
{
    opacity: 70%;
    transform: scale(0.9) rotate(-1deg);
}
.ph6:hover
{
    opacity: 70%;
    transform: scale(0.9) rotate(-1deg);
}
footer{
    width: 100%;
    height: auto;
    text-align: center;
}
.footS{
    background-color: black;
}
.socials
{
    font-size: 32px;
    background-color:#282528 ;
    color: white;
}
.socials a
{
    text-decoration: none;
}

